body{
    font-family: 'Roboto', sans-serif;
    background-color:  black;
    margin: 0;
}
header{
    background-color: #2E2E2E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
}
header img{
    width: 350px;
    margin-top: 6px;
    margin-left: 20px;
}
nav{
    width: 40%;
}
header ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}
header a{
    color: aliceblue;
    text-decoration: none;
}
header a:hover,
header a.active{
    color: #80FF00;
}
.bannerinicio{
    text-align: center;
    background-image: url(../medios/inicio/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 50px;
    text-align: left;
}
.bannerconocenos{
    text-align: center;
    background-image: url(../medios/conocenos/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 50px;
    text-align: left;
}
.bannercontacto{
    text-align: center;
    background-image: url(../medios/contacto/banner.png);
    background-size: cover;
    padding: 200px 50px;
    text-align: left;
}
.subrayado2{
    text-transform: uppercase;
    font-weight: lighter;
    color: #80FF00;

}
.bannerrutinas{
    text-align: center;
    background-image: url(../medios/rutinas/banner.png);
    background-size: cover;
    padding: 200px 50px;
    text-align: left;
}
.bannertestimonios{
    background-image: url(../medios/testimonio/banner.png);
    background-size: cover;
    padding: 200px 50px;
    text-align: left;
}
button{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    padding: 15px 30px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0,0,0,5);
    color: black;
    background-color: #80FF00;
    border: none;
}
button:hover{
    background-color: #5fbf00;
}
.titulocolorh1{
    padding: 30px 0px;
    font-weight: lighter;
    text-transform: uppercase;
    color: #80FF00;
    font-size: 3rem;    
}
.titulocolorsh1{
    font-weight: normal;
    color: white;
}
.titulocolorp1{
    line-height: 110%;
    font-weight: lighter;
    font-size: 2rem;
}
main img{
    width: 800px;
}
.contenidogrid{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
}
.contenidogrid1{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: right;
}
.titulogridh2{
    color: #80ff00;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 10px 50px;
}
.colorgridh3{
    color: white;
    text-transform: uppercase;
    font-size: 1,5rem;
    padding: 5px 50px;
}
.colorgridp{
    font-weight: lighter;
    color: white;
    font: 1rem;
    padding: 5px 50px;
    line-height: 130%;
}
.tarjetas{
    display: flex;
    justify-content: space-around;
}
.tarjetascontenido{
    border-radius: 10px;
    width: 30%;
    background-color: #2E2E2E;
    color: white;
    text-align: center;
}
.tarjetascontenido p{
    padding: 0px 5px;
}
.tarjetascontenido img{
    width: 100%;
}
main p{
    color: aliceblue; 
}
.titulocolorh2{
    padding: 80px 0px 0px 0px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #80FF00;
    font-size: 2rem;
}
.titulocolorsh2{
    font-weight: normal;
    color: white;
}
.titulocolorp2{
    line-height: 130%;
    text-align: center;
    font-weight: lighter;
    font-size: 1.5rem;
}
.subrayado{
    font-weight: bold;
    text-transform: uppercase;
    color: #80FF00;
    font-size: 1.7rem;  
} 
.divpadreflex{
    text-transform: uppercase;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #80FF00;    
}
.tamaño{
    width: 280px;
    height: 280px;
}
.padreformulario{
    display: flex;
    padding: 0px 1% 0px 0px;
}
.textoformulario{
    color: #80ff00;
    font-weight: lighter;
    font: 1rem;
    padding: 0px 100px;
    line-height: 130%;
}
.formulario{
    box-shadow: 0px 0px 7px 7px rgba(128,255,0,1);
    border-radius: 25px;
    box-sizing: border-box;
    background-color: #2E2E2E;
    font-weight: lighter;
    padding: 1em 1.5em;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.desblock{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.block{
    grid-column: 1 / 3;
}
.formulario1titulo{
    text-transform: uppercase;
    color: #ffffff;
    text-align: left;
    padding: 0em 1em;
}
.formulario1 form p{
    margin: 0%;
    padding: 1.5em;
}
.formulario1 form input,
.formulario1 form button,
.formulario1 form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid #80FF00;
    outline: 0;
    color: #fff;
}
.formulario1 form button{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    padding: 15px 30px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0,0,0,5);
    color: black;
    background-color: #80FF00;
}
.formulario1 form button:hover{
    background-color: #5fbf00;
}
.padrepreguntas{
    display: flex;
    padding: 0px 1% 0px 0px;
}
.contenedorpreguntas{
    width: 100%;
    max-width: 500px;
    margin: auto;
    margin-top: 80px;
}
.contenedorpreguntas h2{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 2em;
}
.acordeon label{
    display: block;
    padding: 20px;
    font-size: 1.3em;
    background: #2E2E2E;
    color: white;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
    border-radius: 15px;
}
.acordeon label:hover{
    background: rgb(56, 56, 56);
}
.acordeon .respuesta{
    padding: 0px;
    margin: 10px 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
}
.contenedorpreguntas2:checked ~ .respuesta{
    max-height: 600px;
    padding: 15px 0px;
}
.contenedorpreguntas2{
    display: none;
}
footer{
    border-radius: 20px;
    margin: 30px;
    background-color: #2e2e2e;
    display: list-item;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
footer img{
    width: 25px;
}
footer div{
    display: flex;
    padding: 0 690px;
}
footer a{
    width: 50px;
}
footer h3{
    color: #80FF00;
    display: flex;
    justify-content: center;
    font-size: 1,3em;
}
@media screen and (max-width:500px) {
    header{
        flex-direction: column-reverse;
    }
    nav{
        width: 100%;
        margin-top: 5px;
    }
    ul{
        margin: 5px 10 px;
    }
    .bannertestimonios{
        padding: 230px 0px 0px 0px;
        height: 1px;
        text-align: center;
        background-image: url(../medios/testimonio/banner.png);
    }
   .bannerinicio{
        padding: 270px 0px 0px 0px;
        height: 1px;
        text-align: center;
        background-image: url(../medios/inicio/banner.png);
   }
   .titulocolorh1{
        padding: 2px 0px;
        font-weight: lighter;
        text-transform: uppercase;
        color: #80FF00;
        font-size: 1.5rem; 
   }
   .titulocolorp1{
        line-height: 110%;
        font-weight: lighter;
        font-size: 1rem;
    }
    button{
        padding-bottom: 200px;
        overflow-x: auto;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9em;
        padding: 10px 30px;
        border-radius: 30px;
        box-shadow: 2px 2px 10px rgba(0,0,0,5);
        color: black;
        background-color: #80FF00;
        border: none;
    } 
    main img{
        width: 500px;
    }
    .contenidogrid{
        display: none;
    }
    .contenidogrid1{
        display: block;
        margin-top: 230px;
    }
    .titulogridh2{
        text-align: center;
        color: #80ff00;
        text-transform: uppercase;
        font-size: 1rem;
        padding: 0px 0px 0px 0px;
    }
    .colorgridh3{
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 1rem;
        padding: 0px 50px;
    }
    .colorgridp{
        text-align: center;
        font-weight: lighter;
        color: white;
        font: 1rem;
        padding: 0px 50px;
        line-height: 130%;
    }
    .titulocolorh2{
        padding: 10px 0px 0px 0px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        color: #80FF00;
        font-size: 1.5rem;
    }
    .titulocolorsh2{
        font-weight: normal;
        color: white;
    }
    .titulocolorp2{
        line-height: 130%;
        text-align: center;
        font-weight: lighter;
        font-size: 1rem;
    }
    .subrayado{
        font-weight: bold;
        text-transform: uppercase;
        color: #80FF00;
        font-size: 1rem;  
    } 
    .divpadreflex{
        text-transform: uppercase;
        margin-bottom: 0.5px;
        display: flex;
        justify-content: space-around;
        text-align: center;
        color: #80FF00;
        font-size: 0.5rem;  
    }
    .tamaño{
        width: 100px;
        height: 100px;
    }
    .tarjetaspadre{
        padding: 180px 0px 0px 0px;
    }
    .titulocolorh2{
        display: none; 
    }    
    .tarjetas{
        display: block;
    }
    .tarjetascontenido{
        border-radius: 10px;
        width: 100%;
        background-color: #2E2E2E;
        color: white;
        text-align: center;
    }
    .tarjetascontenido p{
        padding: 10px 5px;
    }
    .tarjetascontenido img{
        width: 100%;
    }
    footer{
        border-radius: 10px;
        margin: 1px;
        background-color: #2e2e2e;
        display: list-item;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0px;
    }
    footer img{
        width: 15px;
    }
    footer div{
        display: flex;
        padding: 5px 170px;
    }
    footer a{
        width: 50px;
    }
    footer h3{
        color: #80FF00;
        display: flex;
        justify-content: center;
        font-size: 1em;
    }
}