.bannerinicio{
    text-align: center;
    background-image: url(../medios/inicio/banner.png);
    background-size: cover;
    padding: 182px 50px;
    text-align: left;
    button{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.5em;
        padding: 10px 15px;
        border-radius: 30px;
        box-shadow: 1px 1px 10px rgba(0,0,0,5);
        color: black;
        background-color: #80FF00;
        border: none;  
    }
    button:hover{
        background-color: #5fbf00;
    }
    .titulocolorh1{
        padding: 30px 0px;
        font-weight: bolder;
        text-transform: uppercase;
        color: #80FF00;
        font-size: 2rem;
        .titulocolorsh1{
            font-weight: lighter;
            color: white;
        }
    }
    .titulocolorp1{
        line-height: 110%;
        font-weight: lighter;
        font-size: 1.5rem;
        .subrayado2{
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: bolder;
            color: #80FF00;
        }
    }

}

.bannerconocenos{
    @extend .bannerinicio;
    background-image: url(../medios/conocenos/banner.png);
    padding: 200px 50px;
    
}

.bannercontacto{
    @extend .bannerinicio;
    background-image: url(../medios/contacto/banner.png);
    padding: 200px 50px;
}

.bannerrutinas{
    @extend .bannerinicio;
    background-image: url(../medios/rutinas/banner.png);
    padding: 200px 50px;
}

.bannertestimonios{
    @extend .bannerinicio;
    background-image: url(../medios/testimonio/banner.png);
    padding: 200px 50px;
}